In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('통합데이터.csv',encoding='cp949')
df

                    단지  준공년도   전용면적  계약년도    계약일   거래금액  층  자치구  법정동    행정동
0       개포2차현대아파트(220)  1988  77.75  2011   7.09  64000  3  강남구  개포동   개포4동
1       개포2차현대아파트(220)  1988  77.75  2011   7.28  65500  5  강남구  개포동   개포4동
2       개포2차현대아파트(220)  1988  77.75  2012   5.01  66000  4  강남구  개포동   개포4동
3       개포2차현대아파트(220)  1988  77.75  2012   7.09  58000  2  강남구  개포동   개포4동
4       개포2차현대아파트(220)  1988  77.75  2013   9.08  57000  2  강남구  개포동   개포4동
...                ...   ...    ...   ...    ...    ... ..  ...  ...    ...
822480     현대휴앤미(102동)  2007  76.43  2015   5.19  26900  6  중랑구  중화동  중화제1동
822481     현대휴앤미(102동)  2007  76.43  2015  10.13  28250  7  중랑구  중화동  중화제1동
822482     현대휴앤미(102동)  2007  77.71  2015   3.21  27000  3  중랑구  중화동  중화제1동
822483     현대휴앤미(102동)  2007  77.71  2015   5.05  27500  4  중랑구  중화동  중화제1동
822484     현대휴앤미(102동)  2007  64.48  2019   7.15  32800  3  중랑구  중화동  중화제1동

[822485 rows x 10 columns]

In [25]:
df['계약일'] = df['계약일'].apply(lambda x: int(x)) 
df

                    단지  준공년도   전용면적  계약년도  계약일   거래금액  층  자치구  법정동    행정동
0       개포2차현대아파트(220)  1988  77.75  2011    7  64000  3  강남구  개포동   개포4동
1       개포2차현대아파트(220)  1988  77.75  2011    7  65500  5  강남구  개포동   개포4동
2       개포2차현대아파트(220)  1988  77.75  2012    5  66000  4  강남구  개포동   개포4동
3       개포2차현대아파트(220)  1988  77.75  2012    7  58000  2  강남구  개포동   개포4동
4       개포2차현대아파트(220)  1988  77.75  2013    9  57000  2  강남구  개포동   개포4동
...                ...   ...    ...   ...  ...    ... ..  ...  ...    ...
822480     현대휴앤미(102동)  2007  76.43  2015    5  26900  6  중랑구  중화동  중화제1동
822481     현대휴앤미(102동)  2007  76.43  2015   10  28250  7  중랑구  중화동  중화제1동
822482     현대휴앤미(102동)  2007  77.71  2015    3  27000  3  중랑구  중화동  중화제1동
822483     현대휴앤미(102동)  2007  77.71  2015    5  27500  4  중랑구  중화동  중화제1동
822484     현대휴앤미(102동)  2007  64.48  2019    7  32800  3  중랑구  중화동  중화제1동

[822485 rows x 10 columns]

In [26]:
def dd(x):
    if x == 1 or x == 2 or x == 3:
        return 1
    elif x == 4 or x == 5 or x == 6:
        return 2
    elif x == 7 or x == 8 or x == 9:
        return 3
    else:
        return 4

df['계약일'] = df.계약일.apply( dd )
df

                    단지  준공년도   전용면적  계약년도  계약일   거래금액  층  자치구  법정동    행정동
0       개포2차현대아파트(220)  1988  77.75  2011    3  64000  3  강남구  개포동   개포4동
1       개포2차현대아파트(220)  1988  77.75  2011    3  65500  5  강남구  개포동   개포4동
2       개포2차현대아파트(220)  1988  77.75  2012    2  66000  4  강남구  개포동   개포4동
3       개포2차현대아파트(220)  1988  77.75  2012    3  58000  2  강남구  개포동   개포4동
4       개포2차현대아파트(220)  1988  77.75  2013    3  57000  2  강남구  개포동   개포4동
...                ...   ...    ...   ...  ...    ... ..  ...  ...    ...
822480     현대휴앤미(102동)  2007  76.43  2015    2  26900  6  중랑구  중화동  중화제1동
822481     현대휴앤미(102동)  2007  76.43  2015    4  28250  7  중랑구  중화동  중화제1동
822482     현대휴앤미(102동)  2007  77.71  2015    1  27000  3  중랑구  중화동  중화제1동
822483     현대휴앤미(102동)  2007  77.71  2015    2  27500  4  중랑구  중화동  중화제1동
822484     현대휴앤미(102동)  2007  64.48  2019    3  32800  3  중랑구  중화동  중화제1동

[822485 rows x 10 columns]

In [27]:
df.rename(columns={'계약일': '분기'}, inplace=True)
df

                    단지  준공년도   전용면적  계약년도  분기   거래금액  층  자치구  법정동    행정동
0       개포2차현대아파트(220)  1988  77.75  2011   3  64000  3  강남구  개포동   개포4동
1       개포2차현대아파트(220)  1988  77.75  2011   3  65500  5  강남구  개포동   개포4동
2       개포2차현대아파트(220)  1988  77.75  2012   2  66000  4  강남구  개포동   개포4동
3       개포2차현대아파트(220)  1988  77.75  2012   3  58000  2  강남구  개포동   개포4동
4       개포2차현대아파트(220)  1988  77.75  2013   3  57000  2  강남구  개포동   개포4동
...                ...   ...    ...   ...  ..    ... ..  ...  ...    ...
822480     현대휴앤미(102동)  2007  76.43  2015   2  26900  6  중랑구  중화동  중화제1동
822481     현대휴앤미(102동)  2007  76.43  2015   4  28250  7  중랑구  중화동  중화제1동
822482     현대휴앤미(102동)  2007  77.71  2015   1  27000  3  중랑구  중화동  중화제1동
822483     현대휴앤미(102동)  2007  77.71  2015   2  27500  4  중랑구  중화동  중화제1동
822484     현대휴앤미(102동)  2007  64.48  2019   3  32800  3  중랑구  중화동  중화제1동

[822485 rows x 10 columns]

In [28]:
df['건물연령'] = df['계약년도']-df['준공년도']
df

                    단지  준공년도   전용면적  계약년도  분기   거래금액  층  자치구  법정동    행정동  건물연령
0       개포2차현대아파트(220)  1988  77.75  2011   3  64000  3  강남구  개포동   개포4동    23
1       개포2차현대아파트(220)  1988  77.75  2011   3  65500  5  강남구  개포동   개포4동    23
2       개포2차현대아파트(220)  1988  77.75  2012   2  66000  4  강남구  개포동   개포4동    24
3       개포2차현대아파트(220)  1988  77.75  2012   3  58000  2  강남구  개포동   개포4동    24
4       개포2차현대아파트(220)  1988  77.75  2013   3  57000  2  강남구  개포동   개포4동    25
...                ...   ...    ...   ...  ..    ... ..  ...  ...    ...   ...
822480     현대휴앤미(102동)  2007  76.43  2015   2  26900  6  중랑구  중화동  중화제1동     8
822481     현대휴앤미(102동)  2007  76.43  2015   4  28250  7  중랑구  중화동  중화제1동     8
822482     현대휴앤미(102동)  2007  77.71  2015   1  27000  3  중랑구  중화동  중화제1동     8
822483     현대휴앤미(102동)  2007  77.71  2015   2  27500  4  중랑구  중화동  중화제1동     8
822484     현대휴앤미(102동)  2007  64.48  2019   3  32800  3  중랑구  중화동  중화제1동    12

[822485 rows x 11 columns]

In [29]:
del df['법정동']
df = df[['자치구','행정동','계약년도','분기','단지','건물연령','거래금액']]
df

        자치구    행정동  계약년도  분기              단지  건물연령   거래금액
0       강남구   개포4동  2011   3  개포2차현대아파트(220)    23  64000
1       강남구   개포4동  2011   3  개포2차현대아파트(220)    23  65500
2       강남구   개포4동  2012   2  개포2차현대아파트(220)    24  66000
3       강남구   개포4동  2012   3  개포2차현대아파트(220)    24  58000
4       강남구   개포4동  2013   3  개포2차현대아파트(220)    25  57000
...     ...    ...   ...  ..             ...   ...    ...
822480  중랑구  중화제1동  2015   2     현대휴앤미(102동)     8  26900
822481  중랑구  중화제1동  2015   4     현대휴앤미(102동)     8  28250
822482  중랑구  중화제1동  2015   1     현대휴앤미(102동)     8  27000
822483  중랑구  중화제1동  2015   2     현대휴앤미(102동)     8  27500
822484  중랑구  중화제1동  2019   3     현대휴앤미(102동)    12  32800

[822485 rows x 7 columns]

In [30]:
df.sort_values(by = ['자치구','행정동','계약년도','분기','단지'])
df

        자치구    행정동  계약년도  분기              단지  건물연령   거래금액
0       강남구   개포4동  2011   3  개포2차현대아파트(220)    23  64000
1       강남구   개포4동  2011   3  개포2차현대아파트(220)    23  65500
2       강남구   개포4동  2012   2  개포2차현대아파트(220)    24  66000
3       강남구   개포4동  2012   3  개포2차현대아파트(220)    24  58000
4       강남구   개포4동  2013   3  개포2차현대아파트(220)    25  57000
...     ...    ...   ...  ..             ...   ...    ...
822480  중랑구  중화제1동  2015   2     현대휴앤미(102동)     8  26900
822481  중랑구  중화제1동  2015   4     현대휴앤미(102동)     8  28250
822482  중랑구  중화제1동  2015   1     현대휴앤미(102동)     8  27000
822483  중랑구  중화제1동  2015   2     현대휴앤미(102동)     8  27500
822484  중랑구  중화제1동  2019   3     현대휴앤미(102동)    12  32800

[822485 rows x 7 columns]

In [37]:
df.groupby(['행정동','계약년도','분기']).agg({'거래금액':'sum','단지':'count'}).reset_index()

          행정동  계약년도  분기    거래금액  단지
0      ?시흥제1동  2019   1   14500   1
1      ?시흥제1동  2019   4   18778   1
2      ?시흥제2동  2014   1  102700   4
3      ?시흥제2동  2014   2   27000   1
4      ?시흥제2동  2016   1   25500   1
...       ...   ...  ..     ...  ..
17062   희곡제3동  2019   2  112500   2
17063   희곡제3동  2019   3   50500   1
17064   희곡제3동  2019   4   54000   1
17065   희곡제3동  2020   1   59500   1
17066   희곡제3동  2020   2   64000   1

[17067 rows x 5 columns]

In [41]:
df.query('계약년도 == 2020 & 분기 == 2')['행정동'].nunique()

413

In [42]:
df.행정동.nunique()

458

In [34]:
a = df.groupby(['단지','자치구','행정동','계약년도','분기']).agg({'거래금액':'sum','단지':'count'}).reset_index()
a

ValueError: cannot insert 단지, already exists

In [99]:
a['금액'] = round(a['거래금액']/a['단지'],0)
a

       구  계약년도  분기       거래금액    단지       금액
0     강남  2010   1   90011864  1008  89297.0
1     강남  2010   2   42888360   538  79718.0
2     강남  2010   3   47953437   602  79657.0
3     강남  2010   4  150063755  1666  90074.0
4     강남  2011   1  106158775  1273  83393.0
...   ..   ...  ..        ...   ...      ...
1026  중랑  2019   3   33236750   716  46420.0
1027  중랑  2019   4   45025900  1021  44100.0
1028  중랑  2020   1   38953780   811  48032.0
1029  중랑  2020   2   33086040   695  47606.0
1030  중랑  2020   3     533200    12  44433.0

[1031 rows x 6 columns]

In [100]:
len(w)

1030

In [104]:
w = []

def f(x):
    

for i in range(0,len(a)):
    if i == 0:
        w.append(0)
    elif i == len(a):
        w.append(0)
    else:
        w.append(round((a.iloc[i,5]/a.iloc[i-1,5])-1,3))
a['상하강률'] = w
w

[0,
 -0.107,
 -0.001,
 0.131,
 -0.074,
 -0.021,
 0.054,
 0.018,
 -0.072,
 0.036,
 0.004,
 -0.038,
 0.071,
 -0.08,
 0.041,
 0.012,
 0.076,
 -0.053,
 0.044,
 -0.064,
 0.054,
 0.039,
 0.047,
 0.058,
 -0.054,
 0.117,
 0.021,
 0.008,
 0.066,
 0.005,
 0.077,
 0.107,
 0.03,
 0.016,
 0.108,
 -0.08,
 0.06,
 0.101,
 0.043,
 -0.008,
 -0.115,
 0.122,
 -0.176,
 -0.733,
 -0.002,
 0.023,
 0.025,
 -0.046,
 0.053,
 -0.046,
 0.023,
 -0.0,
 -0.037,
 -0.051,
 0.035,
 -0.017,
 -0.03,
 0.031,
 0.023,
 0.002,
 -0.004,
 0.027,
 -0.059,
 0.08,
 0.032,
 0.044,
 -0.001,
 -0.034,
 0.079,
 0.042,
 0.004,
 -0.015,
 0.106,
 0.025,
 0.036,
 0.012,
 -0.061,
 0.199,
 -0.124,
 -0.075,
 0.259,
 0.079,
 -0.01,
 -0.085,
 0.159,
 -0.17,
 -0.481,
 -0.026,
 -0.015,
 0.038,
 -0.016,
 0.021,
 -0.029,
 0.002,
 -0.0,
 -0.046,
 0.016,
 0.026,
 -0.006,
 -0.001,
 0.024,
 0.016,
 0.009,
 0.014,
 -0.01,
 0.026,
 -0.042,
 0.027,
 0.045,
 0.049,
 -0.049,
 0.019,
 0.115,
 -0.014,
 -0.022,
 0.008,
 0.047,
 -0.049,
 0.114,
 0.016,
 0.069,
 -0.057,
 0.048,
 -0.028,
 0.05,
 0.124,
 -0.011,
 0.115,
 0.148,
 -0.456,
 -0.038,
 -0.018,
 0.079,
 -0.02,
 -0.002,
 -0.073,
 0.057,
 -0.031,
 -0.047,
 -0.025,
 0.062,
 -0.014,
 -0.002,
 0.025,
 0.04,
 0.008,
 -0.038,
 0.08,
 -0.031,
 -0.012,
 0.051,
 0.049,
 0.04,
 -0.052,
 0.117,
 0.089,
 0.011,
 -0.112,
 0.142,
 0.036,
 0.087,
 0.004,
 -0.028,
 0.103,
 -0.087,
 -0.102,
 0.201,
 0.117,
 0.04,
 -0.044,
 0.011,
 -0.098,
 0.068,
 -0.114,
 0.03,
 0.142,
 -0.093,
 -0.049,
 -0.048,
 0.039,
 0.065,
 -0.04,
 -0.095,
 0.135,
 -0.089,
 0.028,
 -0.03,
 0.05,
 -0.001,
 0.011,
 0.049,
 -0.0,
 -0.033,
 0.019,
 0.016,
 0.089,
 -0.216,
 0.234,
 0.05,
 0.031,
 -0.045,
 0.022,
 0.119,
 0.044,
 0.066,
 -0.019,
 0.098,
 0.01,
 -0.14,
 0.2,
 0.067,
 0.062,
 -0.066,
 0.05,
 -0.242,
 -0.569,
 -0.047,
 0.028,
 0.035,
 0.004,
 0.008,
 -0.015,
 -0.024,
 -0.028,
 -0.0,
 -0.012,
 0.007,
 0.037,
 -0.027,
 0.024,
 -0.003,
 0.022,
 -0.007,
 0.053,
 -0.054,
 0.043,
 0.009,
 0.03,
 0.008,
 -0.008,
 0.018,
 0.059,
 0.003,
 -0.03,
 0.084,
 0.036,
 0.021,
 0.04,
 -0.024,
 0.085,
 -0.088,
 -0.037,
 0.108,
 0.195,
 0.04,
 -0.084,
 0.054,
 -0.063,
 -0.423,
 -0.047,
 -0.089,
 0.082,
 0.024,
 -0.045,
 -0.03,
 0.006,
 0.002,
 -0.042,
 0.065,
 -0.026,
 -0.02,
 0.019,
 0.002,
 -0.076,
 0.131,
 -0.004,
 -0.056,
 0.031,
 -0.005,
 0.098,
 0.046,
 0.058,
 -0.044,
 0.01,
 0.088,
 0.011,
 -0.012,
 0.012,
 0.021,
 -0.001,
 0.071,
 0.035,
 0.024,
 0.025,
 -0.039,
 0.09,
 0.039,
 0.08,
 -0.075,
 0.076,
 0.254,
 -0.5,
 -0.083,
 0.024,
 0.045,
 0.011,
 -0.048,
 -0.03,
 0.031,
 -0.068,
 -0.017,
 -0.033,
 0.053,
 0.006,
 -0.012,
 0.043,
 0.049,
 -0.037,
 -0.013,
 0.017,
 0.056,
 -0.02,
 0.018,
 0.02,
 0.052,
 -0.024,
 -0.013,
 0.073,
 0.094,
 -0.059,
 0.012,
 0.104,
 0.022,
 0.026,
 -0.0,
 0.041,
 0.067,
 -0.078,
 0.095,
 0.064,
 0.016,
 0.009,
 0.046,
 0.006,
 -0.401,
 -0.069,
 -0.026,
 0.024,
 0.004,
 -0.002,
 -0.045,
 0.061,
 -0.057,
 -0.02,
 -0.003,
 -0.03,
 0.053,
 -0.034,
 0.027,
 0.073,
 -0.027,
 -0.024,
 0.015,
 0.007,
 0.027,
 -0.003,
 0.017,
 0.035,
 -0.017,
 0.031,
 0.039,
 0.039,
 -0.032,
 0.047,
 0.063,
 0.008,
 0.029,
 0.013,
 0.012,
 0.021,
 -0.057,
 0.099,
 0.056,
 0.079,
 -0.006,
 -0.057,
 0.028,
 -0.104,
 -0.085,
 0.021,
 -0.001,
 -0.011,
 0.032,
 -0.034,
 0.023,
 -0.057,
 0.06,
 -0.055,
 0.051,
 -0.072,
 0.038,
 -0.011,
 0.03,
 -0.019,
 0.001,
 -0.013,
 0.079,
 0.004,
 0.03,
 0.03,
 0.063,
 -0.02,
 0.018,
 0.072,
 -0.011,
 -0.019,
 0.079,
 -0.015,
 0.078,
 0.007,
 0.017,
 0.139,
 -0.19,
 -0.029,
 0.278,
 0.08,
 -0.015,
 -0.357,
 0.11,
 0.105,
 -0.054,
 0.023,
 0.042,
 -0.034,
 0.006,
 -0.062,
 0.171,
 -0.041,
 -0.062,
 -0.026,
 0.063,
 -0.008,
 0.004,
 0.032,
 -0.003,
 -0.029,
 -0.017,
 0.007,
 0.01,
 0.028,
 0.029,
 -0.114,
 0.16,
 0.012,
 0.05,
 0.061,
 0.002,
 -0.004,
 0.033,
 0.074,
 0.005,
 0.045,
 0.003,
 0.17,
 -0.079,
 -0.015,
 0.118,
 0.063,
 0.037,
 -0.044,
 0.053,
 0.065,
 -0.52,
 -0.018,
 0.004,
 0.026,
 0.012,
 -0.011,
 0.042,
 -0.018,
 -0.069,
 0.137,
 0.162,
 0.043,
 0.164,
 -0.19,
 -0.135,
 -0.107,
 0.071,
 -0.014,
 0.005,
 0.015,
 0.043,
 0.06,
 -0.001,
 0.138,
 -0.121,
 0.085,
 0.093,
 0.0,
 -0.025,
 0.06,
 0.049,
 0.049,
 0.069,
 -0.008,
 0.129,
 -0.147,
 -0.058,
 0.26,
 0.091,
 0.034,
 -0.07,
 0.084,
 -0.036,
 -0.612,
 -0.019,
 -0.053,
 0.091,
 -0.038,
 -0.033,
 0.026,
 -0.016,
 0.006,
 -0.017,
 -0.027,
 0.08,
 -0.063,
 0.095,
 -0.096,
 -0.014,
 0.049,
 0.011,
 0.043,
 0.03,
 -0.028,
 0.052,
 0.03,
 0.013,
 0.106,
 -0.022,
 0.073,
 0.016,
 -0.049,
 0.09,
 0.064,
 0.032,
 0.014,
 0.005,
 0.111,
 -0.049,
 -0.111,
 0.228,
 0.143,
 -0.014,
 -0.056,
 0.102,
 0.045,
 0.225,
 -0.088,
 0.07,
 -0.002,
 -0.083,
 0.066,
 -0.054,
 -0.0,
 -0.032,
 0.008,
 0.009,
 -0.006,
 0.039,
 -0.005,
 -0.016,
 -0.032,
 0.085,
 -0.029,
 0.074,
 -0.036,
 0.032,
 0.058,
 -0.018,
 0.066,
 -0.028,
 0.091,
 0.03,
 0.004,
 0.005,
 0.051,
 0.051,
 0.036,
 0.063,
 0.06,
 0.109,
 -0.103,
 0.078,
 0.049,
 0.054,
 -0.035,
 -0.152,
 0.215,
 -0.251,
 -0.627,
 -0.007,
 -0.073,
 0.035,
 0.007,
 -0.005,
 -0.017,
 0.039,
 0.149,
 -0.033,
 -0.159,
 0.059,
 -0.006,
 0.005,
 0.024,
 0.061,
 0.033,
 -0.069,
 0.049,
 0.028,
 -0.022,
 0.01,
 0.061,
 0.029,
 -0.017,
 0.034,
 0.029,
 0.079,
 -0.018,
 0.062,
 0.031,
 0.074,
 0.023,
 0.122,
 0.057,
 0.097,
 -0.008,
 -0.056,
 0.05,
 0.053,
 -0.013,
 0.068,
 0.131,
 -0.701,
 -0.061,
 0.014,
 0.035,
 0.064,
 -0.019,
 -0.004,
 -0.028,
 -0.003,
 -0.042,
 -0.022,
 0.021,
 -0.014,
 0.015,
 0.006,
 0.051,
 -0.012,
 0.016,
 0.005,
 0.031,
 0.0,
 0.036,
 0.055,
 0.021,
 -0.039,
 0.061,
 0.02,
 0.035,
 -0.035,
 -0.007,
 0.046,
 0.033,
 0.039,
 0.008,
 0.068,
 0.009,
 -0.012,
 0.07,
 0.06,
 0.026,
 0.012,
 0.055,
 0.046,
 0.012,
 -0.023,
 0.049,
 0.019,
 -0.084,
 0.006,
 0.011,
 0.037,
 -0.075,
 0.031,
 -0.024,
 0.005,
 -0.003,
 -0.032,
 0.027,
 0.019,
 -0.018,
 -0.016,
 0.032,
 -0.046,
 0.024,
 0.047,
 0.023,
 0.053,
 -0.046,
 0.105,
 0.008,
 -0.025,
 0.003,
 0.112,
 0.074,
 0.052,
 0.019,
 -0.051,
 0.2,
 -0.17,
 0.271,
 0.069,
 -0.038,
 0.047,
 -0.076,
 0.187,
 -0.126,
 -0.567,
 -0.056,
 0.095,
 0.053,
 -0.123,
 0.035,
 -0.091,
 0.069,
 -0.044,
 -0.014,
 -0.01,
 0.035,
 -0.074,
 0.061,
 -0.082,
 0.094,
 -0.008,
 0.017,
 0.016,
 -0.031,
 -0.031,
 0.059,
 0.001,
 0.127,
 -0.155,
 0.223,
 -0.002,
 -0.001,
 -0.059,
 0.214,
 -0.024,
 0.164,
 -0.17,
 -0.022,
 0.304,
 -0.163,
 0.11,
 0.264,
 -0.068,
 0.039,
 -0.214,
 0.275,
 -0.318,
 -0.219,
 0.011,
 0.094,
 0.013,
 -0.092,
 -0.049,
 0.015,
 -0.013,
 -0.304,
 0.373,
 -0.059,
 0.035,
 0.026,
 -0.079,
 -0.053,
 0.145,
 -0.055,
 0.029,
 0.047,
 -0.059,
 0.019,
 0.042,
 0.083,
 -0.017,
 -0.01,
 0.09,
 0.036,
 -0.012,
 -0.021,
 0.099,
 0.073,
 0.039,
 0.066,
 -0.017,
 0.125,
 -0.169,
 -0.01,
 0.153,
 0.182,
 0.001,
 -0.037,
 0.118,
 -0.217,
 0.224,
 0.03,
 -0.037,
 -0.112,
 0.082,
 0.009,
 -0.13,
 -0.017,
 0.078,
 -0.032,
 -0.066,
 0.03,
 -0.017,
 0.002,
 -0.068,
 0.029,
 0.093,
 0.247,
 -0.164,
 0.052,
 -0.059,
 -0.014,
 0.121,
 0.033,
 0.038,
 0.16,
 -0.063,
 0.049,
 -0.034,
 0.045,
 0.192,
 -0.012,
 -0.012,
 0.012,
 0.314,
 0.094,
 0.08,
 -0.169,
 -0.006,
 -0.032,
 -0.12,
 0.195,
 -0.402,
 -0.562,
 -0.039,
 0.161,
 -0.079,
 -0.089,
 -0.094,
 0.11,
 -0.033,
 -0.051,
 0.036,
 -0.106,
 0.072,
 -0.005,
 -0.007,
 -0.015,
 -0.002,
 0.015,
 0.04,
 -0.014,
 -0.049,
 0.044,
 0.02,
 0.047,
 0.027,
 -0.059,
 0.119,
 0.054,
 0.042,
 -0.106,
 0.094,
 0.029,
 0.035,
 -0.003,
 0.05,
 0.099,
 -0.152,
 0.004,
 0.058,
 0.08,
 0.106,
 -0.017,
 0.041,
 0.267,
 -0.412,
 0.077,
 -0.107,
 0.071,
 0.073,
 0.013,
 -0.151,
 0.182,
 0.168,
 -0.145,
 -0.067,
 0.217,
 -0.001,
 -0.027,
 0.025,
 -0.299,
 0.188,
 -0.13,
 0.107,
 0.116,
 -0.075,
 0.097,
 -0.067,
 0.184,
 0.158,
 -0.2,
 -0.028,
 0.151,
 -0.073,
 0.067,
 0.008,
 0.045,
 0.042,
 -0.069,
 0.081,
 0.023,
 -0.189,
 0.427,
 0.156,
 0.006,
 -0.212,
 0.176,
 -0.443,
 0.296,
 -0.154,
 0.081,
 -0.112,
 -0.037,
 0.0,
 0.112,
 -0.109,
 0.167,
 -0.043,
 0.325,
 -0.23,
 -0.014,
 0.107,
 -0.054,
 0.079,
 -0.073,
 -0.011,
 -0.074,
 0.041,
 0.007,
 0.067,
 0.057,
 -0.023,
 0.028,
 0.028,
 0.091,
 -0.009,
 -0.064,
 0.035,
 -0.03,
 0.081,
 -0.017,
 0.08,
 0.15,
 0.017,
 -0.1,
 0.017,
 0.14,
 -0.016,
 0.014,
 0.059,
 -0.166,
 -0.599,
 0.025,
 -0.05,
 0.031,
 0.034,
 -0.028,
 -0.037,
 0.098,
 0.016,
 -0.133,
 -0.013,
 -0.008,
 ...]

In [107]:
a

       구  계약년도  분기       거래금액    단지       금액   상하강률
0     강남  2010   1   90011864  1008  89297.0  0.000
1     강남  2010   2   42888360   538  79718.0 -0.107
2     강남  2010   3   47953437   602  79657.0 -0.001
3     강남  2010   4  150063755  1666  90074.0  0.131
4     강남  2011   1  106158775  1273  83393.0 -0.074
...   ..   ...  ..        ...   ...      ...    ...
1026  중랑  2019   3   33236750   716  46420.0  0.064
1027  중랑  2019   4   45025900  1021  44100.0 -0.050
1028  중랑  2020   1   38953780   811  48032.0  0.089
1029  중랑  2020   2   33086040   695  47606.0 -0.009
1030  중랑  2020   3     533200    12  44433.0 -0.067

[1031 rows x 7 columns]

In [109]:
47606-47606*0.067

44416.398

In [110]:
47606 + (47606*(-0.067))

44416.398